Flask==3.1.0
flask-cors==5.0.1
llama-index==0.12.35
llama-index-embeddings-huggingface==0.5.4
llama-index-embeddings-openai==0.3.1
llama-index-llms-openai==0.3.38
llama-parse==0.6.22
huggingface-hub==0.31.1
numpy==2.2.5
requests==2.32.3
pandas==2.2.3
torch==2.7.0
transformers==4.51.3
